.font {
  font-family: cursive;
}

.hero-txt {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 30.25rem;
  color: #fff;
  text-align: left;
}

.hero-txt-1 {
  position: absolute;
  right: 5%;
  bottom: 1.25rem;
  left: 55%;
  top: 22%;
  padding-top: 1.25rem;
  padding-bottom: 30.25rem;
  color: #fff;
  text-align: left;
}
