.h-container {
  margin: 3%;
  border: solid;
  background-image: "Images/coffee-cup.jpg";
}

h3 {
  border: springgreen;
}
.home-nav {
  position: absolute;
  z-index: 2;
  width: 100%;
}
/* .home-car {
} */
