.Reservation {
  background-image: linear-gradient(
      hsla(2, 40%, 62%, 0.26),
      rgba(101, 114, 128)
    ),
    url("../Images/table.jpg");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  height: 900px;
  width: 100%;
  /* position: fixed; */
}

.time-label {
  margin-right: 10px;
}

.my-input {
  margin: 2%;
}

.Drop-down-div {
  display: flex;
  margin: 2%;
}
.mylabel {
  margin-top: 10%;
}
.contaning-father {
  display: flex;
  flex-direction: column;
}

#tables {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
}

.father {
  background-color: rgba(255, 255, 255, 0.418);

  margin-right: 10%;
  margin-left: 10.3%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.contaning-father h2 {
  float: left;
  margin-left: 10%;
}
.num-of-seats {
  margin-left: 0%;
}
.circle {
  cursor: pointer;
}
.top-part-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(255, 255, 255, 0.658);
  width: 100%;
}
.top-part {
  display: flex;
  width: 100%;
}

#invisible {
  display: none;
}

.res-btn {
  width: 25%;
  margin-left: 5%;

  background-color: rgb(250, 250, 250);
  color: rgb(80, 80, 80);
  padding: 7px 10px;
  border: solid rgb(87, 87, 87);
  cursor: pointer;
  border-radius: 30px;
}

.backbtn1 {
  width: 25%;
  margin-left: 8%;
  background-color: rgb(250, 250, 250);
  color: rgb(80, 80, 80);
  border: solid rgb(87, 87, 87);
  cursor: pointer;
  border-radius: 30px;
}

.sign-in-btn {
  width: 15%;
  padding: 0.6%;
  margin-top: 5%;
  background-color: rgb(250, 250, 250);
  color: rgb(80, 80, 80);
  border: solid rgb(87, 87, 87);
  cursor: pointer;
  border-radius: 30px;
}
.table-selection {
  display: flex;
  justify-content: space-between;
}

.table-selection h2 {
  margin-top: 4%;
}
.informing {
  display: flex;
  flex-direction: column;
  padding: 0.5%;
  background-color: rgba(255, 255, 255, 0.418);
  margin-right: 10%;
  margin-bottom: 1.4%;
}

.informing label {
  display: flex;
  margin: 2%;
}
.informing label h6 {
  margin-top: 6%;
  margin-left: 3%;
}

.not-signed h1 {
  margin-top: 14%;
  background-color: rgba(240, 248, 255, 0.5);
  margin-right: 25%;
  margin-left: 25%;
}
